<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios Universitarios</h1>
                    <h2>- Ingeniería en Transporte, Facultad de Ingeniería, 
                    Universidad Nacional de Entre Ríos, estudiante
                    avanzado. Ingreso: 2020
                    </h2>
            </li>
                     <h2>
                        - Bioingeniería, Facultad de Ingeniería, 
                        Universidad Nacional de Entre Ríos, 2006-2019, sin culminar
                    </h2>
                
                <li>   <h1>Capacitacion</h1></li>
                    <h2>Curso de Gestión de Transporte 2022</h2>
                <li>    <h1>Jornadas</h1>
                    <h2> - II Congreso Online de Movilidad Urbana Sostenible, Instituto de Movilidad, abril de 2022</h2>
                    <h2> - Encuentro Online entre Empresas y universidad organizado por Scania y Buquebus, octubre de 2021</h2>
                    <h2> - Seminario Online Movilidad y Vía Pública: “Experiencias exitosas en el marco de COVID-19”, Fundación
                    Gonzalo Rodríguez, julio del 2020</h2>               
                </li>
        </ul>
    </div>
    
</div>
