<div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Mifoto.png" id="mifoto" 
        class="mifoto-fluid">
        <p id ="Nombre">Ramiro Rubén Luque Gutiérrez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>A lo largo de mi formación pude entender la importancia de la comunicación 
                y del trabajo en equipo. También de ser solidario, aplicado, dinámico, colaborador 
                y constante, lo cual en un ámbito de trabajo es crucial a la hora de un buen desempeño.
            </p>
        </span>
            
    </div>
</div>
