<div class="row">
    <div class="col-sm4 col-md4 col-lg4">
        <h1>Hard & Soft Skills</h1>
            <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html.png'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900">   
        </circle-progress>
    
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/CSS.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
   
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]='"[Ingles]"'
        [showTitle]="true"
        [showSubtitle]="false"
        [imageSrc]="'../assets/js.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
        <circle-progress
        [percent]="78"
        [units]="'Ingles'"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/eng.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/italiano.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    
        <circle-progress
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/portugues.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    
    
