<div class="row">
    <div class="container">
        <div class="Logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAp">
        </div>
    <div class="Redes">
        <div>
            <a href=""><img src="../../../assets/Linkedin.png" id="Linkedin"></a>
            <a href=""><img src="../../../assets/facebook.png" id="Facebook"></a>
            <a href=""><img src="../../../assets/Instagram.png" id="Instagram"></a>
            <a href=""><img src="../../../assets/Github.png"id="Github"></a>  
            <button type="button" class="btn btn-outline-ligth">INGRESO</button>
        </div>
    
        
    </div>
</div>
