<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios Universitarios</h1>
                    <p>- Ingeniería en Transporte, Facultad de Ingeniería, 
                    Universidad Nacional de Entre Ríos, estudiante
                    avanzado. Ingreso: 2020
                    </p>
            </li>
                     <p>
                        - Bioingeniería, Facultad de Ingeniería, 
                        Universidad Nacional de Entre Ríos, 2006-2019, sin culminar
                     </p>
                
                <li>   <h1>Capacitacion</h1></li>
                    <p>Curso de Gestión de Transporte 2022</p>
                <li>    <p>Jornadas</p>
                    <p> - II Congreso Online de Movilidad Urbana Sostenible, Instituto de Movilidad, abril de 2022</p>
                    <p> - Encuentro Online entre Empresas y universidad organizado por Scania y Buquebus, octubre de 2021</p>
                    <p> - Seminario Online Movilidad y Vía Pública: “Experiencias exitosas en el marco de COVID-19”, Fundación
                    Gonzalo Rodríguez, julio del 2020</p>               
                </li>
        </ul>
    </div>
    
</div>
